# MySQL
MYSQL_HOST=db
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=wydarzenia
MYSQL_ROOT_PASSWORD=

# MongoDB
MONGO_URI=mongodb://mongo1:27017,mongo2:27017,mongo3:27017/?replicaSet=rs0

# Web
WEB_PASSWORD=